.lp-header {
    &.v-app-bar .v-toolbar__content {
        padding: 0;
    }
}
//
// mega menu
//

.lp_wrapper {
    &.v-menu .v-overlay__content {
        margin: 0 auto;
        left: 0 !important;
        right: 0;
    }
    .megamenu {
        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 96%;
            background-color: rgba(55, 114, 255, 0.2);
            border-radius: 7px;
            opacity: 0;
        }
        .v-btn {
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            left: 0;
            right: 0;
            min-width: 100px;
            opacity: 0;
            font-size: 13px;
        }
        &:hover {
            &::before,
            .v-btn {
                opacity: 1;
            }
        }
    }
}
.lp-drawer {
    &.v-navigation-drawer {
        width: 270px !important;
        top: 0 !important;
        height: 100% !important;
        z-index: 1007 !important;
    }
}

.lp-mobile-sidebar {
    .v-list {
        .v-list-item__content {
            overflow: inherit;
        }
    }
    .v-list-group__items .v-list-item {
        padding-inline-start: 25px !important;
    }
}

.v-btn--size-default {

    &.nav-links {
        font-size: $font-size-root !important;
    }
}

// my code start

.about_us{
    font-size:40px;
}
.about_us{
    .about_uspara{
    font-size:19px;
    line-height: 31px !important;
}
}

.svg_image {
    text-align: center;
    img{
        width:13%;
        height:auto;
    }
}

.about-block {
.text {
    position: relative;
    font-size: 15px;
    line-height: 1.85em;
    margin-bottom: 30px;
}
}
ul.info.booking_point li {
    list-style: none;
    color:#fff;
}
    .about_endblock {
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        border: 1px solid rgb(var(--v-theme-primary));
        padding-top: 60px;
        padding-bottom: 50px;
        margin-left: 15px;
        margin-top: 15px;
        text-align: center;
        background-color: rgb(var(--v-theme-primary));
    }

    .about_endblock {
    .inner-box{
     &:before {
    content: '';
    position: absolute;
    left: -12px;
    top: -12px;
    right: 12px;
    bottom: 12px;
    border: 1px solid rgb(var(--v-theme-primary));
}
        }
    }

    .about_image{
        padding:0 30px;
    }

    .book-a_table {
        &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgb(var(--v-theme-primary));
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-animation-name: rotateme;
        -webkit-animation-duration: 15s;
       -webkit-animation-iteration-count: infinite;
       -webkit-animation-timing-function: linear;
    }
}

.book-a_table {
    background-color: rgb(var(--v-theme-primary));
    width: 130px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    z-index: 10;
    position: relative;
}
span.txt_about {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}
.book-a_table {
    & a {
    text-decoration: none;
}
}
.book-a_table{
   &:before {
    content: "";
    position: absolute;
    left: 10px;
    top: -6px;
    width: 130px;
    border-radius: 10px;
    height: 130px;
    border: 1px solid rgb(var(--v-theme-primary));
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation-name: rotateme;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    z-index: -1;
}
}
.image_book img{
height: 218px;
width: 100%;
max-width: 100%;
max-height: 100%;
object-fit: cover;
    }

.image_book{
    padding-top:48px;
}
.last_block {
    font-size: 25px;
    line-height: 34px;
    color:#fff;
    margin-bottom: 5px;
    font-weight: 600;
}
.list_icon {
    position: relative;
    display: block;
    height: 11px;
    margin-top: 8px;
    width: 15px;
    border: 2px solid #fff;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.list_about {
    margin-bottom: 15px;
    font-size: 15px;
}
h3.animated.fadeIn {
    font-size: 120px;
}
// .imagessectionHome {
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 100% auto;
//     background-image: url(../../../src/assets/images/landingpage/imgpsh_fullsize_anim.jpg);
// }
.image_text h3 {
    font-size: 35px;
    color: #fff;
    text-align: center;
}
.image_text p {
    color: #fff;
    text-align: center;
    padding-top:10px;
}
.svg_image_lastblok {
    max-width: 39%;
    margin: auto;
}

.tabs_head {
    font-size: 17px;
}
button.v-btn.v-theme--BLUE_THEME.v-btn--density-default.v-btn--size-default.v-btn--variant-text.v-tab.tabs_head {
    background: #73d2ef24;
    margin: 0 5px;
}
button.v-btn.v-slide-group-item--active.v-tab--selected.v-theme--BLUE_THEME.text-primary.v-btn--density-default.v-btn--size-default.v-btn--variant-text.v-tab.tabs_head {
    background-color: rgb(var(--v-theme-primary));
    color: #fff !important;
}
.restraunts_listing{
    display: flex;
    list-style: none;
    margin: 0 -16px -16px 0;
    padding: 0;
}
.regions_list {
    column-count: 3;
    padding-bottom: 10px;
    color: #020520;
    font-size: 15px;
    padding-left: 25px;
}
ul.regions_list li {
    list-style-type: none;
    position: relative;
    padding-left:25px;
    margin-bottom:5px;
}
ul.regions_list li a {
    text-decoration: none !important;
    color: #000;
    font-size: 14px;
    line-height: 33px;
}
.regions_list li:before {
    position: absolute;
    content: "";
    left: 0;
    width: 18px;
    height: 18px;
    top: 8px;
    background-image: url(../../../src/assets/images/landingpage/imgpsh_fullsize_anim.png);
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: center;
}
// .v-card-text.bg-grey100.mt-4.rounded-md {
//     background-image: url(../../../src/assets/images/landingpage/map.png);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 100% auto;
// }








.cta-card {
    position: relative;
    // width: 70rem;
    border-radius: 2rem;
    // padding: 50px;
    // text-align: center;
    background: linear-gradient(to bottom right, #314e57, #314e5796);   
  }
//   .cta-card::before {
//     content: "";
//     position: absolute;
//     top: -2.5rem;
//     left: -2.5rem;
//     z-index: -10;
//     display: block;
//     width: calc(100% + 5rem);
//     height: calc(100% + 5rem);
//     border-radius: 2rem;
//     background-color: #dde5f9;
//   }

//   .cta-card__title {
//     margin-bottom: 1rem;
//     font-size: 40px;
//     font-weight: 700;
//     color: #fff;
// }
//   .cta-card__description {
//     max-width: 75%;
//     margin: 0 auto;
//     margin-bottom: 3rem;
//     font-size: 1.8rem;
//     font-weight: 300;
//     color: #fff;
//   }
//   .cta-card__input-box {
//     position: relative;
//   }
//   .cta-card__input {
//     width: 100%;
//     padding: 2.2rem 2.5rem;
//     display: inline-block;
//     outline: none;
//     border: 2px solid rgba(243, 248, 254, 0.3);
//     border-radius: 10rem;
//     font-size: 2rem;
//     font-family: "Mulish", sans-serif;
//     color: #fff;
//     background-color: rgba(243, 248, 254, 0.4);
//   }
//   .cta-card__input::placeholder {
//     color: rgba(255, 255, 255, 0.7);
//   }
//   .cta-card__input:focus {
//     outline: 4px solid rgba(218, 70, 218, 0.4);
//     border: 2px solid transparent;
//   }
//   .cta-card__button {
//     position: absolute;
//     top: 50%;
//     right: 0.9rem;
//     width: 5.1rem;
//     height: 5.1rem;
//     transform: translateY(-50%);
//     outline: none;
//     border: none;
//     border-radius: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     cursor: pointer;
//     transition: all 0.3s ease;
//   }
//   .cta-card__button path {
//     transition: all 0.3s ease;
//   }
//   .cta-card__button:hover path {
//     stroke: #da46da;
//   }
//   .cta-card__button:active {
//     transform: translate(0.3rem, -50%);
//   }
 
//   .cta-card__img-box {
//     position: absolute;
//     left: 50%;
//     bottom: 0;
//     display: flex;
//     justify-content: space-between;
//     gap: 4rem;
//     transform: translate(-50%, 50%);
//   }

  .cta-card__img {
    width: 9.4rem;
    height: 9.4rem;
    border: 0.8rem solid #fff;
    border-radius: 50%;
    box-shadow: 0 1.4rem 2.5rem -1.5rem rgba(82, 113, 224, 0.5);
    transition: filter 0.3s ease;
  }
  .footer-section {
    background-color: rgb(var(--v-theme-primary));
    position: relative;
    overflow: hidden;
    z-index: 9;
  }

  .footer-top {
    padding-top: 96px;
    padding-bottom: 50px;
  }
  .footer-top p,
  .company-footer-contact-list li {
    color: #ffffff;
  }
  .company-footer-contact-list {
    margin-top: 10px;
    margin-top: 23px;
}
  .company-footer-contact-list li {
    display: flex;
    display: -webkit-flex;
    align-items: center;
  }
  .company-footer-contact-list li+li {
    margin-top: 5px;
  }
  .company-footer-contact-list li i {
    margin-right: 10px;
    font-size: 20px;
    display: inline-block;
  }
  
  .footer-top .site-logo {
      margin-bottom: 25px;
      display: block;
      max-width: 170px;
  }
  .widget-title {
    text-transform: capitalize;
  }
  .footer-top .widget-title {
    color: #ffffff;
    margin-bottom: 30px;
  }
  .courses-link-list li+li {
    margin-top: 10px;
  }
  .courses-link-list li a {
    color: #ffffff;
    text-transform: capitalize;
    font-family: var(--para-font);
    font-weight: 400;
  }
  .courses-link-list li i {
    margin-right: 5px;
  }
  .footer-top .small-post-title a {
    font-family: var(--para-font);
    color: #ffffff;
    font-weight: 400;
  }
 
  .small-post-list li+li {
    margin-top: 30px;
  }

  .footer-bottom {
    padding: 13px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.149);
  }
  .copy-right-text {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  
  .fotter_logo{
    color:#fff;
    font-size: 40px !important;
  }
  .footer-top p {
    margin-top: 15px;
    margin-bottom:30px;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.2px;
}

.footer-top h5 {
    font-size: 21px;
    letter-spacing: 0.1px;
    font-weight: 500;
}
.footer-top li {
    list-style: none;
    position: relative;
}

.footer-top .widget.course-links-widget li a , .footer-top .widget.latest-news-widget li a{
    padding-left: 24px;
}
.footer-top svg {
    position: absolute;
    left: 0;
    top:2px;
}

.footer-top ul {
    margin-top: -10px;
}
.footer_cols{
    justify-content:space-between;
}
ul.company-footer-contact-list li a {
    color: #fff;
    padding-left: 27px;
    padding-bottom: 12px;
}
.copy-right-text a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.12px;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0px 5px auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 37px;
    height: 37px;
    background: #ffffff;
    font-size: 15px;
    padding: 5px;
}
.footer-top li a {
    font-size: 14px !important;
    letter-spacing: 0.2px;
    text-decoration: none;
}
.social-circle svg {
    fill: #033b4c;
    height: 22px;
    width: 22px;
    margin-top: 5px;
    margin-left: 8px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
ul.social-network.social-circle a {
    padding-left: 10px;
    opacity: 0.7;
}
ul.social-network.social-circle {
    display: flex;
    margin-left: -12px !important;
}
ul.courses-link-list li a:hover, ul.company-footer-contact-list li a:hover {
    color: #9dd0e0;
}
.social_links h4 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 21px;
    letter-spacing: 0.1px;
    font-weight: 500;
}
.footer-section:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../../../src/assets/images/landingpage/tasty-menu-back.png);
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // filter:invert(0.5)
}

// .footer-section:after {
//     position: absolute;
//     content: "";
//     width: 100%;
//     height: 100%;
//     background-image: url(../../../src/assets/images/landingpage/06.png);
//     top: 0;
//     left: 0;
//     z-index: -1;
//     opacity: 1;
//     background-repeat: no-repeat;
//     background-size: 35% auto;
//     background-position: top left;
// }
@keyframes rotateme{
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
    
}


// about us code'

.about-banner {
    min-height: 400px;
}

.about-banner {
    background:url(../../../src/assets/images/landingpage/imgpsh_fullsize_anim.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-banner h1 {
    line-height: 1.5em;
    text-align: center;
}
.about-banner p{
    text-align: center;
}
.margin-top-80 {
    margin-top: 80px;
}
.about_bannercontent{
    margin-top:-53px;
}
.wrapper_about {
	width: 100%;
}
.photobanner {
    position: relative;
    height: 148px;
    margin-top: -70px;
    margin-bottom:50px;
    display: flex;
    width: 100%;
}

.photobanner img {
    margin: 0px 9px;
    box-shadow: 2px 2px 8px #8a8a8a;
    border-radius: 20px;
}
.photobanner {
  animation: bannermove 50s linear infinite alternate-reverse;
}

@keyframes bannermove {
  from {
    left: -2700px;
  }
  to {
    left: 0px;
  }
}


.Our_story_section img {
    width: 100%;
    max-height: 368px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.Our_story h4:before {
    position: absolute;
    content: "";
    bottom: 10px;
    left: -48px;
    width: 36px;
    height: 2px;
    line-height: inherit;
    background-color: #b02e59;
}
.Our_story h4 {
   position: relative;
}
.head_cst{
    z-index: 1;
}
.Our_story_section {
    margin-top: -42px;
    font-weight: bold;
}
.Our_story h2 {
    font-size: 60px;
    line-height: 62px;
}
section.more_aboutus {
    padding: 0px 0;
}
.Our_story_sectiontwo p {
   margin-bottom: 10px; 
}
.Our_story_sectiontwo {
    margin-top: -28px;
}
.check_box {
    display: flex;
    margin-bottom: 10px;
}
.check_box h3 {
    margin-left: 15px;
}
.check_box h4{
    font-size: 22px;
    line-height: 32px;
    color: #b02e59;
}

.book_button a {
    padding: 13px 15px;
    text-decoration: none;
    background: #314e57;
    color: #fff;
    border-radius: 7px;
    font-size: 15px;
}
.book_button {
    margin-top:10px;
}
p.story_p {
    margin-bottom: 30px;
}
.bg_cards{
    background: rgb(95 159 179 / 14%);
}
.testimonial_image {
    margin-bottom: -20px;
    margin-left: 20px;
}
.testi_cstm{
    margin-bottom: 30px !important;
}
.name_user{
    padding-top:10px;
}
.testi_cstm svg {
    position: absolute;
    top: -18px;
    left: 8px;
}
.testi_cstm {
    position: relative;
    margin-top: 10px !important;
}
.Our_story_sectiontwo {
    position: relative; 
}
.Our_story_sectiontwo img {
    position: absolute;
    height: 80px;
    width: 80px;
    top: -100px;
    right: 114px;
    opacity: 0.7;
    animation: mover 1s infinite alternate;
}
@keyframes mover{
0% {
    transform: translateY(0);
}

100% {
    transform: translateY(-10px);
}
}

// about page code 

// contact page code start


.contact-banner {
    background: url(../../../src/assets/images/landingpage/banner-image-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contact-banner {
    min-height: 400px;
}
.contact-banner p {
    text-align: center;
}
.contact-banner h1 {
    line-height: 1.5em;
    text-align: center;
}
section.contact_details {
    margin: -76px 0 50px 0;
}
.inner_detailcontent {
    display: flex;
    justify-content: center;
}
.contact_detailscontent {
    background-color: rgb(var(--v-theme-primary));
    border-radius: 7px;
}
.inner_details {
    padding: 40px;
    margin: 0 40px 20px 40px;
    text-align: center;
}
.inner_details h3 {
    color: #fff;
    letter-spacing: 0.2px;
    padding: 0px 0px 10px 0;
}
.icons_detail a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.2px;
    font-size: 15px;
    padding-left: 27px;
}
.icons_detail svg {
    position: absolute;
    top: 0px;
}
.icons_detail {
    position: relative;
}
.inner_details img{
    animation: mover 1s infinite alternate;
}

.contact-form-wrapper {
    padding: 100px 0;
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .contact-form .form-input,
  .form-text-area {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
    width: 100%;
  }
  
  .contact-form .form-text-area {
    background-color: #f0f4f5;
    height: auto;
    padding-left: 16px;
    margin: 10px 0;
    padding-top: 10px;
  }
  
  .contact-form .form-control::placeholder {
    color: #aeb4b9;
    font-weight: 400;
    opacity: 1;
    font-size: 15px;
  }
  
  .contact-form .form-control:-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 400;
    font-size: 15px;
  }
  
  .contact-form .form-control::-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 400;
    font-size: 15px;
  }
  
  .contact-form .form-control:focus {
    background-color: whitesmoke;
}

  .contact-form .title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }
  
  .contact-form .description {
    margin: 15px 0;
    font-size: 14px;
    text-align: center;
}
  
  .contact-form .submit-button-wrapper {
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper input {
    border: none;
    border-radius: 4px;
    background-color: rgb(var(--v-theme-primary));
    color: white;
    padding: 10px 60px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.3px;
}
  
  .contact-form .submit-button-wrapper input:hover {
    background-color: rgb(var(--v-theme-primary));
  }
  .contact_formimage img {
    width: 100%;
    min-height: 513px;
    object-fit: cover;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
section.contact_formdetails {
    margin-bottom: 50px;
}
.contact-form {
    background-color: rgba(204, 231, 239, 0.6509803922);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 40px;
    max-width: 585px;
}
.contact_detailssection {
    padding-right: 0px !important;
}
.bg_cont {
    padding-left: 0px !important;
}

// contact page code end

// restruntpage code start

h4.font-weight-medium.text_data {
    font-size: 15px;
    padding-left: 10px;
}
.text_summary{
    border: 1px solid #1b1819;
    text-align: center;
    padding: 2px;
    border-radius: 7px;
    cursor:pointer;
}
.edit_btn{
    padding:0px;
}
.ptotal_price {
    text-align: end;
}
.total_pr {
    border-top: 1px solid #e7e5e5;
}
// restruntpage code end