.lp-header {
    &.v-app-bar .v-toolbar__content {
        padding: 0;
    }
}
//
// mega menu
//

.lp_wrapper {
    &.v-menu .v-overlay__content {
        margin: 0 auto;
        left: 0 !important;
        right: 0;
    }
    .megamenu {
        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 96%;
            background-color: rgba(55, 114, 255, 0.2);
            border-radius: 7px;
            opacity: 0;
        }
        .v-btn {
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            left: 0;
            right: 0;
            min-width: 100px;
            opacity: 0;
            font-size: 13px;
        }
        &:hover {
            &::before,
            .v-btn {
                opacity: 1;
            }
        }
    }
}
.lp-drawer {
    &.v-navigation-drawer {
        width: 270px !important;
        top: 0 !important;
        height: 100% !important;
        z-index: 1007 !important;
    }
}

.lp-mobile-sidebar {
    .v-list {
        .v-list-item__content {
            overflow: inherit;
        }
    }
    .v-list-group__items .v-list-item {
        padding-inline-start: 25px !important;
    }
}

.v-btn--size-default {

    &.nav-links {
        font-size: $font-size-root !important;
    }
}

// my code start

.about_us{
    font-size:40px;
}
.about_us{
    .about_uspara{
    font-size:19px;
    line-height: 31px !important;
}
}

.svg_image {
    text-align: center;
    img{
        width:13%;
        height:auto;
    }
}

.about-block {
.text {
    position: relative;
    font-size: 15px;
    line-height: 1.85em;
    margin-bottom: 30px;
}
}
ul.info.booking_point li {
    list-style: none;
    color:#fff;
}
    .about_endblock {
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        border: 1px solid rgb(var(--v-theme-primary));
        padding-top: 60px;
        padding-bottom: 50px;
        margin-left: 15px;
        margin-top: 15px;
        text-align: center;
        background-color: rgb(var(--v-theme-primary));
    }

    .about_endblock {
    .inner-box{
     &:before {
    content: '';
    position: absolute;
    left: -12px;
    top: -12px;
    right: 12px;
    bottom: 12px;
    border: 1px solid rgb(var(--v-theme-primary));
}
        }
    }

    .about_image{
        padding:0 30px;
    }

    .book-a_table {
        &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgb(var(--v-theme-primary));
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-animation-name: rotateme;
        -webkit-animation-duration: 15s;
       -webkit-animation-iteration-count: infinite;
       -webkit-animation-timing-function: linear;
    }
}

.book-a_table {
    background-color: rgb(var(--v-theme-primary));
    width: 130px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    z-index: 10;
    position: relative;
}
span.txt_about {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}
.book-a_table {
    & a {
    text-decoration: none;
}
}
.book-a_table{
   &:before {
    content: "";
    position: absolute;
    left: 10px;
    top: -6px;
    width: 130px;
    border-radius: 10px;
    height: 130px;
    border: 1px solid rgb(var(--v-theme-primary));
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation-name: rotateme;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    z-index: -1;
}
}
.image_book img{
height: 218px;
width: 100%;
max-width: 100%;
max-height: 100%;
object-fit: cover;
    }

.image_book{
    padding-top:48px;
}
.last_block {
    font-size: 25px;
    line-height: 34px;
    color:#fff;
    margin-bottom: 5px;
    font-weight: 600;
}
.list_icon {
    position: relative;
    display: block;
    height: 11px;
    margin-top: 8px;
    width: 15px;
    border: 2px solid #fff;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.list_about {
    margin-bottom: 15px;
    font-size: 15px;
}
h3.animated.fadeIn {
    font-size: 120px;
}
// .imagessectionHome {
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 100% auto;
//     background-image: url(../../../src/assets/images/landingpage/imgpsh_fullsize_anim.jpg);
// }
.image_text h3 {
    font-size: 35px;
    color: #fff;
    text-align: center;
}
.image_text p {
    color: #fff;
    text-align: center;
    padding-top:10px;
}
.svg_image_lastblok {
    max-width: 39%;
    margin: auto;
}

.tabs_head {
    font-size: 17px;
}
button.v-btn.v-theme--BLUE_THEME.v-btn--density-default.v-btn--size-default.v-btn--variant-text.v-tab.tabs_head {
    background: #73d2ef24;
    margin: 0 5px;
}
button.v-btn.v-slide-group-item--active.v-tab--selected.v-theme--BLUE_THEME.text-primary.v-btn--density-default.v-btn--size-default.v-btn--variant-text.v-tab.tabs_head {
    background-color: rgb(var(--v-theme-primary));
    color: #fff !important;
}
.restraunts_listing{
    display: flex;
    list-style: none;
    margin: 0 -16px -16px 0;
    padding: 0;
}
.regions_list {
    column-count: 3;
    padding-bottom: 10px;
    color: #020520;
    font-size: 15px;
    padding-left: 25px;
}
ul.regions_list li {
    list-style-type: none;
    position: relative;
    padding-left:25px;
}
ul.regions_list li a {
    text-decoration: none !important;
    color: #000;
    font-size: 14px;
    line-height: 33px;
}
.regions_list li:before {
    position: absolute;
    content: "";
    left: 0;
    width: 18px;
    height: 18px;
    top: 8px;
    background-image: url(../../../src/assets/images/landingpage/imgpsh_fullsize_anim.png);
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: center;
}
// .v-card-text.bg-grey100.mt-4.rounded-md {
//     background-image: url(../../../src/assets/images/landingpage/map.png);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 100% auto;
// }








.cta-card {
    position: relative;
    // width: 70rem;
    border-radius: 2rem;
    // padding: 50px;
    // text-align: center;
    background: linear-gradient(to bottom right, #314e57, #314e5796);   
  }
//   .cta-card::before {
//     content: "";
//     position: absolute;
//     top: -2.5rem;
//     left: -2.5rem;
//     z-index: -10;
//     display: block;
//     width: calc(100% + 5rem);
//     height: calc(100% + 5rem);
//     border-radius: 2rem;
//     background-color: #dde5f9;
//   }

//   .cta-card__title {
//     margin-bottom: 1rem;
//     font-size: 40px;
//     font-weight: 700;
//     color: #fff;
// }
//   .cta-card__description {
//     max-width: 75%;
//     margin: 0 auto;
//     margin-bottom: 3rem;
//     font-size: 1.8rem;
//     font-weight: 300;
//     color: #fff;
//   }
//   .cta-card__input-box {
//     position: relative;
//   }
//   .cta-card__input {
//     width: 100%;
//     padding: 2.2rem 2.5rem;
//     display: inline-block;
//     outline: none;
//     border: 2px solid rgba(243, 248, 254, 0.3);
//     border-radius: 10rem;
//     font-size: 2rem;
//     font-family: "Mulish", sans-serif;
//     color: #fff;
//     background-color: rgba(243, 248, 254, 0.4);
//   }
//   .cta-card__input::placeholder {
//     color: rgba(255, 255, 255, 0.7);
//   }
//   .cta-card__input:focus {
//     outline: 4px solid rgba(218, 70, 218, 0.4);
//     border: 2px solid transparent;
//   }
//   .cta-card__button {
//     position: absolute;
//     top: 50%;
//     right: 0.9rem;
//     width: 5.1rem;
//     height: 5.1rem;
//     transform: translateY(-50%);
//     outline: none;
//     border: none;
//     border-radius: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     cursor: pointer;
//     transition: all 0.3s ease;
//   }
//   .cta-card__button path {
//     transition: all 0.3s ease;
//   }
//   .cta-card__button:hover path {
//     stroke: #da46da;
//   }
//   .cta-card__button:active {
//     transform: translate(0.3rem, -50%);
//   }
 
//   .cta-card__img-box {
//     position: absolute;
//     left: 50%;
//     bottom: 0;
//     display: flex;
//     justify-content: space-between;
//     gap: 4rem;
//     transform: translate(-50%, 50%);
//   }

//   .cta-card__img {
//     width: 9.4rem;
//     height: 9.4rem;
//     border: 0.8rem solid #fff;
//     border-radius: 50%;
//     box-shadow: 0 1.4rem 2.5rem -1.5rem rgba(82, 113, 224, 0.5);
//     transition: filter 0.3s ease;
//   }
//   .cta-card__img:hover {
//     filter: grayscale(1);
//   }

// @keyframes rotateme{
//     0% {
//         transform: rotate(0deg);
//         opacity: 1;
//     }
    
//     50% {
//         transform: rotate(180deg);
//     }
//     100% {
//         transform: rotate(360deg);
//         opacity: 1;
//     }
    
// }
